/ {
    macros {
        prvwd: prvwd {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LEFT)>;
        };
        
        nxtwd: nxtwd {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(RIGHT)>;
        };
        
        lstrt: lstrt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp HOME>;
        };
        
        lend: lend {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp END>;
        };
        
        wdesk_l: wdesk_l {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LC(LEFT))>;
        };
        
        wdesk_r: wdesk_r {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LC(RIGHT))>;
        };
        
        wtab: wtab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(TAB)>;
        };
        
        wnewdesk: wnewdesk {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LC(D))>;
        };
        
        wdeldesk: wdeldesk {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LC(F4))>;
        };
    };
};